body{
  background: url('./../img/knowledge_is_power.jpg');
  background-attachment: fixed;
  color: #fff;
}

.card{
  margin: 10px;
}

.radio-label{
  color: #212529 !important;
}

.card-title{
  text-align: center;
  font-weight: 500;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bg-turkis{
  background-color:rgba(37, 207, 242, 0.7);
  color: #212529;
}

.bg-darkgray{
  color: #fff;
}

input[type="checkbox"]{
  width: 20px;
  height: 10px;
  display: none;
}

.list-group-item{
  cursor: pointer;
}

.list-group-item.active {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.list-group-item.active.failure {
  background-color: rgb(182, 32, 32);
  border-color: rgb(182, 32, 32);
  color: #fff;
}

.list-group-item.active.correct {
  background-color: rgb(38, 208, 100);
  border-color: rgb(38, 208, 100);
}

.prevent-pointer-events{
  pointer-events: none;
}

